.usernameBlock{
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  button.username{
    font-size: 24px;
    padding: 0 20px;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    img{
      height: 24px;
      width: 24px;
      object-fit: contain;
      margin-left: 10px;
    }
  }
  .logout-window {
    padding: 0;
    border-radius: 4px;
    button.logout {
      background-color: red;
      color: white;
      padding: 5px 20px;
      border: none;
      font-size: 24px;
      border-radius: 4px;
      margin-top: 5px;

    }
  }
}
