.sort-window{
  position: relative;
  display: flex;
  justify-content: end;
  z-index: 1;
  .open-sort{
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 20px 0;
    img{
      height: 24px;
      width: 24px;
      object-fit: contain;
      margin-left: 10px;
    }
  }
  ul{
    position: absolute;
    top: 60px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    li{
      border-bottom: 0;
      button{
        width: 100%;
        padding: 0 20px;
        z-index: 1;
        font-size: 24px;
        background-color: inherit;
        border: none;
        &.active{
          color: steelblue;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .sort-window{
    .open-sort{
      padding: 10px 0;
    }
    ul{
      top: 50px;
    }
  }
}