.card{
  position: relative;
  aspect-ratio: 1;
  background-color: inherit;
  outline: none;
  border: none;
  .card-side {
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &.back {
      transform: rotateY(-180deg);
    }

    &.front {

    }
  }

  &.active .card-side.front {
    transform: rotateY(180deg);
  }

  &.active .card-side.back {
    transform: rotateY(0deg);
    color: black;
  }
}