@media (max-width: 575px) {
  .modal__wrapper{
    .modal {
      .container {
        .modal__content {
          height: 100vh;
          width: 100vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-bottom: 100px;
        }
      }
    }
  }
}