.authForm{
  //background-color: whitesmoke;
  padding: 30px;
  max-width: 440px;
  width: 100%;
  border-radius: 12px;
  input{
    display: block;
    width: 100%;
    padding: 15px 20px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(56, 169, 240, 0.75);

    &:focus{
      outline: 1px solid rgba(56, 169, 240, 0.75);
      -webkit-box-shadow: 0 0 5px rgba(56, 169, 240, 0.75);
      -moz-box-shadow: 0 0 5px rgba(56, 169, 240, 0.75);
      box-shadow: 0 0 5px rgba(56, 169, 240, 0.75)
    }
  }
  span[role='alert']{
    color: red;
    display: block;
  }
  button{
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: rgba(56, 169, 240, 0.75);
    color: white;
    margin-top: 10px;
  }
}