.leaderboard{
  background-color: yellowgreen;
  color: black;
  min-height: calc(100vh + 1px);
  padding-bottom: 80px;
  .container{
    .open-menu{
      padding: 20px;
      border-radius: 4px;
      background-color: inherit;
      border: none;
      font-size: 24px;
      margin-bottom: 20px;
      color: black;
    }
    .navigation{
      width: 100%;

      ul{
        display: flex;
        li{
          flex: 1;
          &.active{
            button {
              background-color: steelblue;
              color: white;
            }
          }
          button{
            width: 100%;
            padding: 10px;
            font-size: 28px;
            background-color: black;
            color: white;
            border: 1px solid yellowgreen;
            border-radius: 4px 4px 0 0 ;
          }
        }
      }
    }
    .table{
      width: 100%;
      border-top: none;
      border-bottom: none;
      ul{
        li{
          border-bottom: 1px dashed black;
          display: flex;
          align-items: center;
          &.title{
            border-bottom: none;
            position: relative;
            .item{
              padding: 20px 10px;
            }
          }
          .item{
            font-size: 24px;
            flex: 1;
            display: flex;
            justify-content: center;
            padding: 10px 10px 0;
          }
          .position{
            position: absolute;
            padding: 10px 10px 0;
            font-size: 24px;
          }
        }
      }
      .empty-list{
        width: 100%;
        padding-top: 80px;
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 575px) {
  .leaderboard{
    .container{
      .navigation{
        ul{
          li{
            button{
              padding: 0;
            }
          }
        }
      }
    }
  }
}