button.stop-game{
  background-color: inherit;
  border: none;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
  img{
    height: 30px;
    width: 30px;
  }
}

.modal__wrapper{
  .modal{
    .container {
      .modal__content {
        width: 400px;
        background-color: white;
        color: black;
        padding: 40px 20px;
        border-radius: 4px;
        h3{
          text-align: center;
          padding-bottom: 40px;
        }
        button{
          display: block;
          background-color: inherit;
          padding: 10px 20px;
          width: 100%;
          border-radius: 4px;
          outline: none;
          border: 1px solid rgba(56, 169, 240, 0.75);
          margin: 10px 0;
          &:focus{
            outline: 1px solid rgba(56, 169, 240, 0.75);
            -webkit-box-shadow: 0 0 5px rgba(56, 169, 240, 0.75);
            -moz-box-shadow: 0 0 5px rgba(56, 169, 240, 0.75);
            box-shadow: 0 0 5px rgba(56, 169, 240, 0.75)
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .modal__wrapper{
    .modal {
      .container {
        .modal__content {
          height: 100vh;
          width: 100vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-bottom: 100px;
        }
      }
    }
  }
}