.game{
  background-color: #ff9800;
  .container{
    position: relative;
    .game__board {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
      max-width: 400px;
      margin: 0 auto;
      padding-bottom: 50px;
      .game-info {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 40px;
        .score {
          text-align: center;
        }
      }
      .cards {
        display: grid;
      }
    }
  }
}