*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Changa', sans-serif;
  //-webkit-overflow-scrolling: touch;
}
body::-webkit-scrollbar {
  width: 0;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: lightgray;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
ul{
  list-style-type: none;
}
button{
  cursor: pointer;
}
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.modal__wrapper{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
  &.active{
    display: block;
  }
  .modal{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container{
    max-width: 960px;
  }
  .col-lg-0{
    display: none;
  }
}

@media (max-width: 991px) {
  .container{
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container{
    max-width: 540px;
  }
  .col-md-0{
    display: block;
  }
  .col-sm-0{
    display: none;
  }
}
@media (max-width: 575px) {
  .container{
    padding: 0 20px;
  }
}