.menu{
  background-color: yellowgreen;
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 40px;
    .logo{
      display: block;
      height: 200px;
      object-fit: contain;
    }
    .menu__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      .list__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .mode{
          font-size: 24px;
          display: block;
        }
        button {
          font-size: 24px;
          padding: 10px;
          background-color: inherit;
          border: none;
          margin: 10px;
          &.start{
            font-size: 28px;
          }
        }
        .mode__buttons{
          button{
            &.active {
              background-color: black;
              color: white;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}